body, html {
    margin: 0;
    padding: 0;
    background-color: #0C0B0B;
    font-family: Rubik, sans-serif;
    
}

* {
    box-sizing: border-box;
    color: #B7B7B7;
    
}

main {
    margin: 5% 25%;
}

nav {
    background-color: #0F0E0E;
    margin-top: 15%;
}

.container {
    display: flex;
    height: 25vh;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.profile {
    display: flex;
    width: 40%;
    font-size: 12px;
}


#photo {
    width: 50%;
    border-radius: 50px;
}

.profile h1 {
    padding-left: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #0F0E0E;
    border: 1px transparent;
    border-radius: 5px;
    transition: 225ms background linear;
    cursor: pointer;

}

button:hover {
    background-color: #B7B7B7;
    color: #0F0E0E;
    border-radius: 5px;
}

.topics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px 15px 50px;
    margin-top: 3%;
}

.project {
    background-color: #046313;
    padding: 0 45px 25px 20px;
    border-radius: 5%;
    transition: 225ms;
}

.project:hover {
    font-size: 24px;
}

.star {
    background-color: #044A7D;
    padding: 0 45px 25px 20px;
    border-radius: 5%;
}

.star:hover {
    font-size: 24px;
    transition: 225ms;
}


.follow {
    background-color: #725200;
    padding: 0 45px 25px 20px;
    border-radius: 5%;
}

.follow:hover {
    font-size: 24px;
    transition: 225ms;
}


article p {
    margin: 10px 0 0 0;
}

article h2 {
    margin: 0;
}