body, html {
    margin: 0;
    padding: 0;
    background-color: #0C0B0B;
}

* {
    box-sizing: border-box;
    color: #B7B7B7;
}

main {
    margin: 5% 25%;
}

nav {
    background-color: #0F0E0E;
}

.container {
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
}
.profile {
    display: flex;
    width: 40%;
    margin-left: 6%;
}

#photo {
    width: 25%;
    border-radius: 50px;
}

.profile h1 {
    padding-left: 10px;
}


.topics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px 15px 50px;
    margin-top: 3%;
}

.project {
    background-color: #046313;
    padding: 0 45px 25px 20px;
    border-radius: 5%;
}

.star {
    background-color: #044A7D;
    padding: 0 45px 25px 20px;
    border-radius: 5%;
}

.follow {
    background-color: #725200;
    padding: 0 45px 25px 20px;
    border-radius: 5%;
}

article p {
    margin: 10px 0 0 0;
}

article h2 {
    margin: 0;
}